 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: turquoise;
  width: 100%;
}

li{
  padding: 20px 50px;
  display: inline;
}  
  
  li a:hover {
    background-color: red;
   }

    
  body{
  background-color: blue;
   
  }

  h1 {
  color: black;
  text-align: center;
  font-size: 100px;
  }
